

<div id="main">

  <!-- Calculator -->
  <section id="intro" class="main">
    <div class="spotlight">
      <div class="content">
        <header class="major">
          <h2>销售价格计算器</h2>
        </header>
        <div class="form">
          <div class="field" id="type">
            <p>选择车型：</p>
            <ng-container *ngFor="let r of ranges; index as i">
              <input id="type_{{i}}" type="radio" name="type" value="type{{i}}" required (click)="selectedType(i)">
              <label for="type_{{i}}">
                <i>{{r['车型']}}</i>
              </label>
            </ng-container>
    
            
          </div>
          <div class="field" id="make" *ngIf="selectedTypeId != null">
            <p>选择车辆：</p>
            <select name="make" required>
              <option *ngFor="let r of getSelectedMake()">{{r["车型"]}}</option>
            </select>
          </div>
          <div class="field" id="insurance" *ngIf="selectedTypeId != null">
            <p>选择保险套餐：</p>
            <ng-container *ngFor="let r of insurance; index as i">
              <input id="insurance_{{i}}" type="checkbox" name="insurance" value="insurance{{i}}" >
              <label for="insurance_{{i}}">
                <i>{{r['险种']}}</i>
              </label>
            </ng-container>
          
          
          </div>

          <div class="field" id="gift" *ngIf="selectedTypeId != null">
            <p>选择可以赠送的精品</p>
            <ng-container *ngFor="let r of gift; index as i">
              <input id="gift_{{i}}" type="checkbox" name="gift" value="gift{{i}}">
              <label for="gift_{{i}}">
                <i>{{r['名称']}}</i>
              </label>
            </ng-container>
          
          
          </div>
        </div>
      </div>
      </div>
  </section>
</div>
