

<div id="main">

  <!-- Calculator -->
  <section id="intro" class="main">
    <div class="spotlight">
      <div class="content">
        <header class="major">
          <h2>VFP定价模型</h2>
        </header>
        <div class="form">

          <div class="field" id="type" *ngIf="ranges">
            <div class="field-title">
              <p>选择车型：</p>
            </div>
            <div class="field-content">
              <ng-container *ngFor="let r of ranges; index as i">
                  <input [(ngModel)]="search.type" id="type_{{i}}" type="radio" name="type" value="type{{i}}" required (click)="selectedType(i)" (change)="onChange(); typeChange();">
                  <label for="type_{{i}}">
                    {{r['车型']}}
                  </label>
              </ng-container>
            </div>


          </div>
          <ng-container *ngIf="selectedTypeId != null">
            <hr/>
            <div class="field" id="make" >
              <div class="field-title">
                <p>选择车辆：</p>
              </div>
              <div class="field-content">
                <select name="make" required [(ngModel)]="search.make" (change)="onChange()">
                  <option value="" disabled selected>--选择车型--</option>
                  <option *ngFor="let r of getSelectedMake()" value="{{r['序号']}}">{{r["车型"]}}</option>
                </select>
              </div>

            </div>
            <table class="field-details" *ngIf="getSelectedMakeDetails()">
              <tr>
                <th>车型:</th>
                <th>车架号:</th>
                <th>颜色:</th>
              </tr>
              <tr>
                <td>{{getSelectedMakeDetails()["车型"]}}</td>
                <td>{{getSelectedMakeDetails()["车架号"]}}</td>
                <td>{{getSelectedMakeDetails()["颜色"]}}</td>
              </tr>
            </table>
            <hr/>

            <div class="field" id="insurance" *ngIf="selectedTypeId != null">
              <div class="field-title">
                <p>选择保险套餐：</p>
              </div>
              <div class="field-content">
                <ng-container *ngFor="let r of insurance; index as i">
                  <input id="insurance_{{i}}" type="checkbox" name="insurance" value="insurance{{i}}" [(ngModel)]="search.insurance[i]" (change)="onChange()">
                  <label for="insurance_{{i}}">
                    {{r['险种']}}
                  </label>
                </ng-container>
              </div>
            </div>
            <table class="field-details" *ngIf="getSelectedInsurance().length>0">
              <tr>
                <th>险种:</th>
                <th>金额:</th>
              </tr>
              <tr *ngFor="let i of getSelectedInsurance()">
                <td>{{i["险种"]}}</td>
                <td>{{i["金额"]}}</td>
              </tr>
            </table>
            <hr/>

            <div class="field" id="insurance_discount" *ngIf="selectedTypeId != null">
              <div class="field-title">
                <p>保险折扣：</p>
              </div>
              <div class="field-content">
                <input type="number" name="discount" [(ngModel)]="search.discount" (change)="onChange()">
              </div>
            </div>
            <hr/>
            <div class="field" id="gift" *ngIf="selectedTypeId != null">
              <div class="field-title">
                <p>选择可以赠送的精品</p>
              </div>
              <div class="field-content">
                <ng-container *ngFor="let r of gift; index as i">
                  <input id="gift_{{i}}" type="checkbox" name="gift" value="gift{{i}}" [(ngModel)]="search.gift[i]" (change)="onChange()">
                  <label for="gift_{{i}}">
                    <i>{{r['名称']}}</i>
                  </label>
                </ng-container>
              </div>
            </div>
            <table class="field-details" *ngIf="getSelectedGift().length>0">
              <tr>
                <th>已选择的精品:</th>
                <th>金额:</th>
              </tr>
              <tr *ngFor="let i of getSelectedGift()">
                <td>{{i["名称"]}}</td>
                <td>{{i["售价（元）"]}}</td>
              </tr>
            </table>
          </ng-container>

        </div>
        <ng-container *ngIf="search.type && search.make">
          <hr/>
          <div class="row">
            <div class="total">
              <p>推荐售价：</p>
              <div class="total-container">
                <h2>{{totalY | currency:'CNY'}}</h2>
                <ul class="dashed">
                  <li>单车售价: {{singlePriceY | currency:'CNY'}}</li>
                  <li>保险售价: {{insurancePrice | currency:'CNY'}}</li>
                  <li>精品售价: {{giftPrice | currency:'CNY'}}</li>
                </ul>
              </div>
            
            </div>
            <div class="total">
              <p>销售底价：</p>
              <div class="total-container">
                <h2>{{total | currency:'CNY'}}</h2>
                <ul class="dashed">
                  <li>单车售价: {{singlePrice | currency:'CNY'}}</li>
                  <li>保险售价: {{insurancePrice | currency:'CNY'}}</li>
                  <li>精品售价: {{giftPrice | currency:'CNY'}}</li>
                </ul>
              </div>
            
            </div>
          </div>
          
        </ng-container>


      </div>
      </div>
  </section>
</div>
